body {
    background-image: url(../img/bg02_esq.png), url(../img/bg01_dir.png), url(../img/bg_centro.png), linear-gradient(90deg, #FFFFFF, #6EABBA);
    background-repeat: no-repeat;
    background-attachment: scroll, scroll, scroll, fixed;
    background-size: 15%, 15%, contain, cover;
    background-position: left bottom, right top, center, center;
}

/* INICIO MARCADOR 1 */
.marcador1 {
    list-style: none;
    padding: 0;
}

.marcador1 li {
    position: relative;
    padding-left: 30px;
    line-height: 1.5;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #002e3b;
}

.marcador1 li::before {
    content: "";
    background-image: url('../img/check.svg');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
}

/* FIM MARCADOR 1 */
/* INICIO MARCADOR 2 */
.marcador2 {
    list-style: none;
    padding: 0;
}

.marcador2 li {
    position: relative;
    padding-left: 30px;
    line-height: 1.5;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.marcador2 li::before {
    content: "";
    background-image: url('../img/bullet.svg');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
}

/* FIM MARCADOR 2 */
.borda {
    border-radius: 20px;
}

.prancheta {
    margin-top: 30px;
    margin-bottom: 150px;
    max-width: 575px;
    padding: 50px;
    position: relative;
    background: #fff;
    padding-bottom: 150px;
}

.elemento {
    background: url(../img/lista_elemento.png) no-repeat center;
    width: 220px;
    height: 223px;
    position: absolute;
    bottom: -100px;
    right: 0;
    left: 0;
    margin: auto;
}

.painel1 {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.bt-painel1 {
    width: 100%;
    height: 211px;
    border: none;
    background-color: transparent;
    border-radius: 20px;
}

.bt1-painel1 {
    background: url(../img/bt.jpg) no-repeat center;
}

.bt1-painel1:hover {
    background: url(../img/bt_hoover.jpg) no-repeat center;
}

@media (max-width: 767px) {

    .marcador1 li {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media (max-width: 580px) {
    .carousel-control-next {
        right: -35px;
    }

    .carousel-control-prev {
        left: -35px;
    }

    .esquemaDaBru .alt-c,
    .esquemaDaBru .alt-e {
        width: 75%;
    }

    .modal-body .container {
        padding: unset;
    }
}