body{
    background: url('../img/bg_fundo.png') no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}

.bt-transcricao{
    background: url('../../assets/images/bt_trancricao.svg') no-repeat;
    width: 60px;
    height: 60px;
    display: block;
    margin: 50px auto;
    border: none;
    transition: all .4s;
}
.bt-transcricao:hover{
    transform: scale(1.1);
}
.painel1 button{
    width: 208px;
    height: 130px;
    border: none;
    background-color: transparent;
    margin: 20px;
    transition: all .4s;
}
.painel1 button:hover{transform: scale(1.1);}
.bt-direta{background: url('../img/bt1.png') no-repeat;}
.bt-viagens{background: url('../img/bt2.png') no-repeat;}
.bt-gds{background: url('../img/bt3.png') no-repeat;}
.bt-fidelidade{background: url('../img/bt4.png') no-repeat;}
.bt-restricao{background: url('../img/bt5.png') no-repeat;}
.bt-bagagens{background: url('../img/bt6.png') no-repeat;}
.bt-desistencia{background: url('../img/bt7.png') no-repeat;}