body{
    background: rgb(147,172,206);
    background: linear-gradient(180deg, rgba(147,172,206,1) 0%, rgba(0,122,149,1) 100%);
}
.pagina.container{
    background: #fff;
    padding: 50px 100px;
}
.img-fundo{position: relative;}
.img-fundo img{
    position: absolute;
    width: 200px;
}
.aspectos-historicos .img-fundo img{
    left: -260px;
}
.regulamentacao .img-fundo img{
    right: -245px;
}
.codigo-etica .img-fundo img{
    left: -260px;
}
.legislacao .img-fundo img{
    right: -245px;
}
.lilian{ 
    max-width: 80%;
    margin: auto;
}
.bt-saibamais{
    background: url('../img/bt_saibamais.png') no-repeat;
    width: 339px;
    height: 372px;
    border: none;
    transition: all .4s;
}
.bt-saibamais:hover{background: url('../img/bt_saibamais_hv.png') no-repeat;}
.bt-download{
    background: url('../img/bt_download.png') no-repeat;
    width: 150px;
    height: 150px;
    display: block;
    margin: 50px auto;
    transition: all .4s;
}
.bt-download:hover{transform: scale(1.1);}

@media screen and (max-width: 1280px){
    .img-fundo{display: none;}
}
@media screen and (max-width: 780px){
    .pagina.container{
        padding: 50px;
    }    
    .voltar-topo{
        bottom: 10px;
        left: 5px;
        right: unset;
    }
}