body{
    background: url('../img/bg.jpg') no-repeat;
    background-attachment: fixed;
}
.citacao{
    padding-left: 200px;
    font-size: 16px;
}
.bt-saibamais{
    background: url('../img/bt_saibamais.png') no-repeat;
    width: 481px;
    height: 324px;
    border: none;
    transition: all .4s;
}
.bt-saibamais:hover,
.bt-lei:hover,
.bt-cargos:hover{transform: scale(1.1);}
.bt-lei{
    background: url('../img/bt_lei.png') no-repeat;
    width: 423px;
    height: 289px;
    border: none;
    transition: all .4s;
}
.livro{
    position: relative;
    margin-bottom: 180px;
}
.livro::after{
    content: '';
    display: block;
    background: url(../img/destaque_citacao.png) no-repeat;
    height: 211px;
    width: 577px;
    bottom: -162px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    z-index: 2;
}
.bt-cargos{
    background: url('../img/bt_cargos.png') no-repeat;
    width: 454px;
    height: 311px;
    border: none;
    transition: all .4s;
}



@media (max-width: 580px){
    .bt-saibamais,
    .bt-lei,
    .bt-cargos{
        width: 100%;
        background-size: contain;
    }
    .livro::after{
        width: 300px;
        background-size: contain;
        height: 110px;
        bottom: -82px;
    }
    .citacao{
        padding-left: 100px;
    }
    .esquemaDaBru .alt-c, .esquemaDaBru .alt-e{width: 75%;}
}