body {
    background-image: url(../img/bg_dir.png), url(../img/bg_esq.png), linear-gradient(45deg, #FFFFFF, #92ACCE);
    background-repeat: no-repeat;
    background-attachment: scroll, scroll, fixed;
    background-size: 15%, 15%, cover;
    background-position: right bottom, left top, center;
}

.borda {
    border-radius: 20px;
}

.painel1 {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.bt-painel1 {
    width: 168px;
    height: 198px;
    border: none;
    background-color: transparent;
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
}

.bt1-painel1 {
    background: url(../img/bt1.png) no-repeat;
}

.bt2-painel1 {
    background: url(../img/bt2.png) no-repeat;
}

.bt3-painel1 {
    background: url(../img/bt7.png) no-repeat;
}

.bt4-painel1 {
    background: url(../img/bt4.png) no-repeat;
}

.bt5-painel1 {
    background: url(../img/bt5.png) no-repeat;
}

.bt6-painel1 {
    background: url(../img/bt8.png) no-repeat;
}

.bt7-painel1 {
    background: url(../img/bt3.png) no-repeat;
}

.bt-painel1:hover::before {
    content: '';
    width: 157px;
    height: 156px;
    background: url(../img/hover.png) no-repeat;
    position: absolute;
    top: -20px;
    left: -20px;
}

.painel-materiais .botoes{
    width: 893px;
    height: 405px;
    margin: 30px auto;
    padding-top: 405px;
    position: relative;
}
.painel-materiais button{
    border: none;
    background-color: transparent;
    position: absolute;
    transition: all .4s;
}
.painel-materiais button:hover{
    transform: scale(1.1);
}

.painel-materiais .bt1{
    width: 337px;
    height: 340px;
    background: url('../img/painel1.png');
    z-index: 2;
    top: 0;
    left: 0;
}
.painel-materiais .bt2{
    width: 313px;
    height: 303px;
    background: url('../img/painel2.png');
    z-index: 2;
    top: 0;
    right: 0;
}
.painel-materiais .bt3{
    width: 178px;
    height: 263px;
    background: url('../img/painel3.png');
    z-index: 3;
    top: 45px;
    left: 275px;
}
.painel-materiais .bt4{
    width: 164px;
    height: 225px;
    background: url('../img/painel4.png');
    z-index: 3;
    top: 65px;
    right: 195px;
}
.painel-materiais .bt5{
    width: 131px;
    height: 213px;
    background: url('../img/painel5.png');
    z-index: 3;
    top: 80px;
    right: 320px;
}
.painel-materiais .bt6{
    width: 202px;
    height: 95px;
    background: url('../img/painel6.png');
    z-index: 3;
    bottom: 45px;
    left: 90px;
}
.painel-materiais .bt7{
    width: 255px;
    height: 154px;
    background: url('../img/painel7.png');
    z-index: 3;
    bottom: 25px;
    right: 40px;
}
.painel-materiais .bt8{
    width: 125px;
    height: 139px;
    background: url('../img/painel8.png');
    z-index: 3;
    bottom: 45px;
    left:0;
    right:0;
    margin: auto;
}
.painel-materiais .aba{
    background: #fff;
    border-radius: 30px;
    border: 3px solid #92ACCE;
    padding: 50px;
    padding-top: 100px;
    margin-top: -200px;
    display: none;
    transition: all .4s;
}
.painel-materiais .aba1{display: block;}

@media (max-width: 980px) {
    .painel-materiais .aba{
        margin-top: 50px;
        padding-top: 50px;
        display: block;
    }
}